body {
	background: url("../images/Mona-lIsa-test.jpg");
	background-size: 100%;
	image-orientation: center;
	background-repeat: no-repeat;
	background-color: #474747;
}

.header {
	background-color: skyblue;
	margin: auto;
	width: 100%;
}

.navbar-brand {
	font-size: 30px;
	font-style: bold;
}

.collapsed {
	height: 20px;
	width: 70px;
	padding-top: 20px;
	margin-top: 10px;
}

.navbar-right {
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
}

#howitworks {
	margin-right: 10px;
}

#loginbtn {
	margin-left: 20px;
	margin-right: 10px;
}

#signupbtn {
	margin-left: 20px;
	margin-right: 10px;
}

#behind {
	background-color: rgba(126, 192, 238, .5);
	align-self: center;
	max-height: 500px;
}

#container {
	background-color: rgba(66, 125, 244, .1);
	max-width: 830px;
	max-height: 415px;
	margin: auto;
	width: 100%;
	border: 6px solid rgb(131, 136, 149);
	padding: 10px;
	align-self: center;
}

#video {
	margin: auto;
	max-width: 400px;
	width: 50%;
	height: 50%;
	padding-right: 5px;
}

#canvas {
	margin: auto;
	max-width: 400px;
	max-height: 295.5px;
	float: right;
	width: 50%;
	padding-left: 5px;
}

#recognizeButton {
	padding-bottom: 5px;
	position: relative;
}



#searched {
	background: url('../images/giphy.gif');
	opacity: 0.1;
	background-size: 75%;
	max-height: 60px;
	min-height: 50px;
	margin: auto;
	text-align: center;
	width: 100%;
}

#input {
	font-size: 14px;
	color: black;
}

.imageNav {
	background-color: rgba(126, 191, 238, 0.13);
}

legend {
	padding-top: 20px;
	padding-left: 10px;
	font-size: 22px;
	color: lightcyan;
}

form {
	background-size: 100%;
	image-orientation: center;
	background-repeat: no-repeat;
	background-color: #474747;
}

.form-group {
	padding-left: 10px;
	font-size: 16px;
	color: lightcyan;
}


