body {
	background: url("../images/Mona-lIsa-test.jpg");
	background-size: 100%;
	image-orientation: center;
	background-repeat: no-repeat;
	background-color: #474747;
}

.header {
	background-color: skyblue;
	margin: auto;
	width: 100%;
}

.navbar-brand {
	font-size: 30px;
	font-style: bold;
}

.collapsed {
	height: 20px;
	width: 70px;
	padding-top: 20px;
	margin-top: 10px;
}

.navbar-right {
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
}

#howitworks {
	margin-right: 10px;
}

#loginbtn {
	margin-left: 20px;
	margin-right: 10px;
}

#signupbtn {
	margin-left: 20px;
	margin-right: 10px;
}

#behind {
	background-color: rgba(126, 192, 238, .5);
	align-self: center;
}

#container {
	background-color: rgba(66, 125, 244, .1);
	max-width: 830px;
	max-height: 415px;
	margin: auto;
	width: 100%;
	border: 3px solid #838996;
	padding: 10px;
	align-self: center;
}

#video {
	margin: auto;
	max-width: 400px;
	width: 50%;
	height: 50%;
	padding-right: 5px;
}

#canvas {
	margin: auto;
	max-width: 400px;
	float: right;
	width: 50%;
	padding-left: 5px;
}

legend {
	font-size: 22px;
	color: lightcyan;
}

.form-group {
	font-size: 16px;
	color: lightcyan;
}

