
.header {
	background-color: skyblue;
	margin: auto; 
	width: 100%;
}

.navbar-brand {
	font-size: 30px;
	font-style: bold;
}
.collapsed {
	height: 20px;
	width: 70px;
	padding-top: 20px;
	margin-top: 10px;
}

.navbar-right {
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	
}

#howitworks{
	margin-right: 10px;
}
#loginbtn {
	margin-left: 20px;
	margin-right: 10px;
}
#signupbtn {
	margin-left: 20px; 
	margin-right: 10px;
}


#behind {
	
	background-color: lightskyblue;
	align-self: center;
}
#container {
	margin: auto;
	width: 75%;
	border: 3px solid #838996;
	padding: 10px; 
	align-self: center;
}
#video {
margin: auto
}